
*.bak
*.exe
*.iml
*.xml
*.pyc
*.zip
*.toc
*.manifest
*.pkg
*.pyz
*.txt
*.html
*.log
*.spec
settings.py
gui.py
*.7z
*.ttf
*.ppk
.idea/.name
key
*.pyd
*.dll
*.rst
dist/core/cryptography-2.7-py3.7.egg-info/INSTALLER
dist/core/cryptography-2.7-py3.7.egg-info/LICENSE
*.APACHE
*.BSD
*.PSF
dist/core/cryptography-2.7-py3.7.egg-info/METADATA
dist/core/cryptography-2.7-py3.7.egg-info/RECORD
dist/core/cryptography-2.7-py3.7.egg-info/WHEEL
*.qm
*.fhq0ac85
*.ini
